version: "3.8"

services:
  node:
    container_name: PAKAR_LELE
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - 3002:3000
    # volumes:
    # - ./:/app
    # - /app/node_modules
    # - /app/vendor
    # entrypoint: ./start.sh
    # command: tail -F /dev/null
