name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER_NAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd /var/www/pakar.farhandev.cloud
            git pull origin main
            docker build -t skripsi-fe:latest .

            # Check if the docker build command was successful
            if [ $? -ne 0 ]; then
              echo "Docker build failed"
            fi

            docker rm -f skripsi-fe
            docker run -d --name skripsi-fe -p 3002:3000 skripsi-fe:latest
